
.scblocks-control-wrapper {
	margin-bottom: 15px;

	&.no-margin-bottom {
		margin-bottom: 0;
	}

	&.display-inline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		.#{$pluginName}-control-wrapper-header {
			margin-bottom: 0;
		}
	}
	.scblocks-control-wrapper-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6px;
	}
	.scblocks-control-wrapper-header-left {
		display: flex;
		align-items: center;
		margin-right: 5px;

		span {
			margin-right: 5px;
		}
	}
	.scblocks-control-wrapper-content {
		min-width: 50%;
	}
}
