
.scblocks-control-wrapper {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;

	&.no-margin-bottom {
		margin-bottom: 0;
	}

	&.display-inline {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		.scblocks-control-wrapper-header {
			flex-basis: 50%;
			margin-bottom: 0;
		}
		.scblocks-control-wrapper-content {
			flex-basis: 50%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.components-base-control{
				margin-bottom: 0;
				width: 100%;

				.components-base-control__field{
					margin-bottom: 0;
				}
			}
		}
	}
	&.wider-header {
		.scblocks-control-wrapper-header {
			flex-basis: 70%;
		}
		.scblocks-control-wrapper-content {
			flex-basis: 30%;
		}
	}
	.scblocks-control-wrapper-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-basis: 100%;
		margin-bottom: 6px;
	}
	.scblocks-control-wrapper-header-left {
		display: flex;
		align-items: center;
		margin-right: 5px;

		.scblocks-control-wrapper-label {
			margin-right: 5px;
		}
	}
	.scblocks-control-wrapper-content {
		flex-basis: 100%;
	}
}
