.components-color-picker__body.scblocks-color-picker-body {
	padding: 0 10px;
}
.scblocks-color-picker {
	width: 100%;
	margin-bottom: 12px;

	.scblocks-color-picker-triggers {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.is-stacked {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-bottom: 6px;

			.scblocks-color-picker-open-button {
				height: 30px;
				width: 100%;
			}
			.scblocks-color-picker-indicator {
				width: 98%;
				height: 24px;
			}
			.scblocks-color-picker-label {
				margin-bottom: 6px;
			}
		}
	}
	.scblocks-color-picker-label {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-basis: 80%;
	}
	.scblocks-color-picker-open-button {
		width: 40px;
		border-radius: 4px;
		height: 24px;
		background-color: #fff;
		padding: 0;
		text-align: center;
		border: 1px solid #0073aa;
		background-image: linear-gradient(45deg, #ddd 25%, transparent 0), linear-gradient(-45deg, #ddd 25%, transparent 0), linear-gradient(45deg, transparent 75%, #ddd 0), linear-gradient(-45deg, transparent 75%, #ddd 0);
		background-size: 10px 10px;
		background-position: 0 0, 0 5px, 5px -5px, -5px 0;
		display: flex;
		align-items: center;
		justify-content: center;

		.scblocks-color-picker-indicator {
			width: 33px;
			height: 18px;
			border-radius: 4px;
			cursor: pointer;
		}
	}
}

