
.#{$pluginName}-shape {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 100%;

	&[data-negative=false].#{$pluginName}-shape-bottom,
	&[data-negative=true].#{$pluginName}-shape-top {
		transform: rotate(180deg);
	}

	&.#{$pluginName}-shape-top {
		top: 0;
	}
	&.#{$pluginName}-shape-bottom {
		bottom: 0;
	}
	svg {
		display: block;
		width: 100%;
		position: relative;
		max-width: unset;
	}
}
