.#{$pluginName}-number-control {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 8px;
	}
}
.#{$pluginName}-number-control-header {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}
.#{$pluginName}-number-control-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	input {
		margin-right: 5px;
		max-width: 80px;
	}
}
