.#{$pluginName}-number-control {
	margin-bottom: 24px;

	&:last-child {
		margin-bottom: 8px;
	}
}
.#{$pluginName}-number-control-header {
	margin-bottom: 5px;

	span {
		margin-right: 8px;
	}
}
.#{$pluginName}-number-control-content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	input[type="number"] {
		margin-left: 5px;
		width: 80px;
	}
	input[type="range"] {
		max-width: 150px;
	}
}
