.scblocks-dashboard-intro {
	padding: 60px;
	font-size: 30px;
	line-height: 1.8;
	text-align: center;
	margin: 0 auto;
	max-width: 700px;
}
.scblocks-invitation-buttons {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.scblocks-invitation-buttons a.button {
	margin: 4px;
}
