@import "./style.scss";

.editor-styles-wrapper .#{$pluginAlias}-buttons.wp-block {
	margin: 0;
	max-width: unset;
}
.editor-styles-wrapper .#{$pluginAlias}-button.wp-block {
	margin: 0;
	max-width: unset;
}
