@import "./background/editor.scss";
@import "./four-controls/editor.scss";
@import "./box-shadow-control/editor.scss";
@import "./gap/editor.scss";

.#{$pluginName}-components-panel-body-inner {
	padding: 10px 0;
	> div {
		padding-right: 12px;
		padding-left: 12px;
		margin-bottom: 12px !important;
	}
}
.#{$pluginName}-components-panel-body {
	background-color: #fff;
	margin-bottom: 16px;
	border-bottom: 1px solid #e2e4e7 !important;
}
.#{$pluginName}-components-panel-body-button {
	width: 100%;
	border: none;
	background-color: #fff;
	padding: 15px 10px 15px 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	cursor: pointer;

	svg {
		fill: currentColor;
	}
	&[aria-expanded="true"] {
		color: #0073aa;
	}
	&:hover {
		color: #0073aa;
	}
}
