@import "./background/editor.scss";
@import "./four-controls/editor.scss";
@import "./box-shadow-control/editor.scss";
@import "./gap/editor.scss";
@import "./flex/editor.scss";
@import "./border-control/editor.scss";
@import "./border-radius/editor.scss";

.scblocks-element-panel {
	margin-top: 10px !important;
	border-bottom: 1px solid #e0e0e0 !important;

	> .components-panel__body-title {
		background: #f6f7f7;
	}

	.components-panel__body {
		padding-left: 0;
		padding-right: 0;
	}
}
