@import "./constants.scss";
@import "./mixins.scss";
@import "./block-library/editor.scss";
@import "./components/editor.scss";
@import "./style-controls/editor.scss";
@import "./block/editor.scss";


.display-none {
	display: none;
}
.display-block {
	display: block;
}

.opacity-0 {
	opacity: 0;
}
//inline elements
.#{$pluginName}-inline-elements {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
//inline-buttons
.#{$pluginName}-inline-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	& > button > svg {
		height: 16px;
		width: 16px;
	}
}
//select control
.#{$pluginName}-select-control-inline > .components-base-control__field {
	display: flex;
	justify-content: space-between;
	align-items: center;

	label,
	select {
		flex-basis: 50%;
	}
}

//button group
.#{$pluginName}-button-group {
	margin: 8px 0 10px;
	display: flex;
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 #cbdee8;

	&.two > button {
		flex-basis: 50%;
		justify-content: center;
	}
}
