@import "./constants.scss";
@import "./block-library/editor.scss";
@import "./components/editor.scss";
@import "./style-controls/editor.scss";
@import "./block/editor.scss";
@import "./sidebar/editor.scss";


.display-none {
	display: none;
}
.display-block {
	display: block;
}

.opacity-0 {
	opacity: 0;
}
//inline elements
.#{$pluginName}-inline-elements {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
//inline-buttons
.#{$pluginName}-inline-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	& > button > svg {
		height: 16px;
		width: 16px;
	}
}
//select control
.#{$pluginName}-select-control-inline > .components-base-control__field {
	display: flex;
	justify-content: space-between;
	align-items: center;

	label,
	select {
		flex-basis: 50%;
	}
}
