.scblocks-four-controls-top,
.scblocks-four-controls-bottom {
	display: flex;
	justify-content: center;
	align-items: center;

	& > div {
		flex-basis: 50%;
	}
}
.scblocks-four-controls-left-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;
	margin-bottom: 12px;
	margin-top: 12px;

	& > div {
		flex-basis: 50%;
	}
}

