.#{$pluginAlias}-container.#{$pluginAlias}-root-container {
	max-width: unset !important;
	margin-left: -10px;
	margin-right: -10px;
	width: unset !important;
}
.#{$pluginAlias}-container-content > {
	.wp-block {
		margin-left: 0;
		margin-right: 0;
		max-width: unset;
		word-break: break-all;
	}
	:not([data-type="core/paragraph"]),
	:not([data-type="core/heading"]) {
		margin-top: 0;
		margin-bottom: 0;
	}
}
