

.#{$pluginName}-bg-type-buttons-wrap {
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.#{$pluginName}-bg-type-buttons {
		display: flex;
	}
}

.#{$pluginName}-inline-buttons {
	button:first-child {
		margin: 0 2px;
	}
	button:last-child {
		margin: 0;
	}
}

